<div class="row header">
  <h3 class="text-muted">摆锤式冲击台数据系统</h3>
</div>
 

<div class="row" ng-controller="entering">
  <div class="form-horizontal">
      <div class="form-group">
        <label for="startFrequency" class="col-sm-2 control-label">起点频率:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="起点频率" required class="form-control" name="startFrequency" ng-model="sf">
        </div>
        <label for="sfOrder" class="col-sm-2 control-label">量级:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="量级" required class="form-control" name="sfOrder" ng-model="sf.order">
        </div>
         <label for="sfOrder" class="col-sm-2 control-label">斜率:</label>
        <div class="col-sm-3">
          <input type="text" placeholder="斜率" required class="form-control" name="sfOrder" ng-model="sf.slope">
        </div>
      </div>
  </div>
 
</div>

<div class="footer">
  <p>BY Liu</p>
</div>
